<html>
<meta http-equiv="refresh" content="1">
 <head>
 </head>
 <body>
   <h1>Welcome To the Hydro Automation Project<h1>
   <h2>Moisture: {{moistureZone1.buttonPress}}</h2>
   <h2>Temperature: {{weatherZone1.temperature}}</h2>
   <h2>Humidity: {{weatherZone1.humidity}}</h2>
   <h2>Wind Speed: {{weatherZone1.windSpeed}}</h2>
   <h2>Precipitation: {{weatherZone1.precipitation}}</h2>
   <h2>Sprinkler Value: {{weatherZone1.sprinklerValue}}</h2>

   <h2>Moisture: {{moistureZone2.buttonPress}}</h2>
   <h2>Temperature: {{weatherZone2.temperature}}</h2>
   <h2>Humidity: {{weatherZone2.humidity}}</h2>
   <h2>Wind Speed: {{weatherZone2.windSpeed}}</h2>
   <h2>Precipitation: {{weatherZone2.precipitation}}</h2>
   <h2>Sprinkler Value: {{weatherZone2.sprinklerValue}}</h2>
   
   <h2>Moisture: {{moistureZone3.buttonPress}}</h2>
   <h2>Temperature: {{weatherZone3.temperature}}</h2>
   <h2>Humidity: {{weatherZone3.humidity}}</h2>
   <h2>Wind Speed: {{weatherZone3.windSpeed}}</h2>
   <h2>Precipitation: {{weatherZone3.precipitation}}</h2>
   <h2>Sprinkler Value: {{weatherZone3.sprinklerValue}}</h2>
   
   <h2>Moisture: {{moistureZone4.buttonPress}}</h2>
   <h2>Temperature: {{weatherZone4.temperature}}</h2>
   <h2>Humidity: {{weatherZone4.humidity}}</h2>
   <h2>Wind Speed: {{weatherZone4.windSpeed}}</h2>
   <h2>Precipitation: {{weatherZone4.precipitation}}</h2>
   <h2>Sprinkler Value: {{weatherZone4.sprinklerValue}}</h2>

 </body>
</html>